<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="KarajanRCP"
   name="KarajanRCP Plug-in"
   version="1.0.0"
   provider-name=""
   class="karajanRCP.KarajanRCPPlugin">

   <runtime>
      <library name="lib/cog-grapheditor-0.47.jar">
         <export name="*"/>
      </library>
      <library name="lib/cog-util-0.91.jar">
         <export name="*"/>
      </library>
      <library name="KarajanRCP.jar"/>
      <library name="lib/cog-resources-1.0.jar">
         <export name="*"/>
      </library>
      <library name="bin/">
         <export name="*"/>
      </library>
      <library name="etc/">
         <export name="*"/>
      </library>
      <library name="lib/backport-util-concurrent.jar">
         <export name="*"/>
      </library>
      <library name="lib/cog-abstraction-common-2.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/cog-karajan-0.33.jar">
         <export name="*"/>
      </library>
      <library name="lib/log4j-1.2.8.jar">
         <export name="*"/>
      </library>
      <library name="lib/xpp3-1.1.3.4d_b4_min.jar">
         <export name="*"/>
      </library>
      <library name="lib/xstream-1.1.1-patched.jar">
         <export name="*"/>
      </library>
      <library name="lib/cog-repository-1.0.jar">
         <export name="*"/>
      </library>
      <library name="icons/">
         <export name="*"/>
      </library>
      <library name="lib/derby.jar">
         <export name="*"/>
      </library>
      <library name="lib/derbynet.jar">
         <export name="*"/>
      </library>
      <library name="lib/derbytools.jar">
         <export name="*"/>
      </library>
      <library name="lib/jdom.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>
   
   <extension 
         id="product" 
         point="org.eclipse.core.runtime.products">
         <product name="application"
			application="KarajanRCP.application">
			<property name="appName"
				      value="KarajanRCP"/>
			<property name="windowImages"
					  value="icons/workflow.png"/>
			<property name="aboutImage"
                      value="icons/about-small.png"/>
            <property name="aboutText"
					  value="CoG Workflow Editing and Viewing Application"/>			  
		</product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="karajanRCP.rcp.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="CoG Graph View"
            category="Karajan"
            class="karajanRCP.views.GraphViewer"
            id="karajanRCP.views.GraphViewer">
      </view>
      
      <view
            name="CoG Workflow View"
            icon="icons/sample.gif"
            category="Karajan"
            class="karajanRCP.views.KarajanView"
            id="karajanRCP.views.KarajanView">
      </view>
      
      <view
            name="Node Properties"
            icon="icons/full/eview16/prop_ps.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="org.eclipse.ui.views.PropertySheet">
      </view>
      
   </extension>
   
  <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Repository Manager"
            default="true"
            icon="icons/file_obj.gif"
            class="karajanRCP.rcp.RepositoryFormEditor"
            id="karajanRCP.rcp.RepositoryFormEditor"
            contributorClass="karajanRCP.rcp.RepositoryFormActionBarContributor">
      </editor>
  </extension>
   
  <extension point="org.eclipse.ui.actionSets">
   <actionSet
      id="karajanRCP.rcp.action.RepositoryActionSet"
   label="Repository Action Set"
   visible="true">
      <menu id="karajanRCP_rcp_repositorymanager"
			   label="%ActionSet.menu"
			   path="Repository"> 
			   <separator name="open"/>
			   <separator name="setup"/>
			   <separator name="view"/>
      </menu>
     
      <action
         id="karajanRCP.rcp.action.OpenEditor" 
         menubarPath="karajanRCP_rcp_repositorymanager/open"
         label="%OpenRepoAction.label" 
         tooltip="%OpenRepoAction.tooltip"
         icon="icons/red_dot.gif"
         class="karajanRCP.rcp.OpenRepositoryFormEditorAction"> 
      </action> 
      
      <action
         id="karajanRCP.rcp.action.Setup" 
         menubarPath="karajanRCP_rcp_repositorymanager/setup"
         label="%SetupRepoAction.label" 
         tooltip="%SetupRepoAction.tooltip"
         icon="icons/red_dot.gif"
         class="karajanRCP.rcp.action.SetOpenRepoActionDelegate"> 
      </action> 
      
      <action
         id="karajanRCP.rcp.action.View" 
         menubarPath="karajanRCP_rcp_repositorymanager/view"
         label="%ViewRepoAction.label" 
         tooltip="%ViewRepoAction.tooltip"
         icon="icons/red_dot.gif"
         class="karajanRCP.rcp.action.SetOpenRepoActionDelegate"> 
      </action>
      
       <action
         id="karajanRCP.rcp.action.Export" 
         menubarPath="karajanRCP_rcp_repositorymanager/export"
         label="%ExportRepoAction.label" 
         tooltip="%ExportRepoAction.tooltip"
         icon="icons/red_dot.gif"
         class="karajanRCP.rcp.action.SetOpenRepoActionDelegate"> 
      </action>
       
   </actionSet> 
  </extension>

  <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="karajanRCP.rcp.Perspective"
            id="KarajanRCP.perspective">
      </perspective>
   </extension>
   
  <extension point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="KarajanRCP.perspective">
               <actionSet id="karajanRCP.rcp.action.RepositoryActionSet"/>
               <viewShortcut id="karajanRCP.views.GraphViewer"/>
               <perspectiveShortcut id="karajnRCP.rcp.perspective"/>
               <!--view id= "org.eclipse.ui.views.PropertySheet"
                  relative= "karajan.views.KarajanView"
                  relationship= "bottom" 
                  ratio= "0.15"/-->
               <!--view id= "karajanRCP.rcp.GraphViewer"
                  relative= "org.eclipse.ui.views.PropertySheet"
                  standalone = "true"
                  relationship= "right"
                  ratio= "0.75"/ -->
         </perspectiveExtension>
  </extension>

</plugin>
