# Provenance database configuration
# 
# Backend database options (more than one can be selected):
# sqlite      : imports provenance into SQLite
# postgresql  : imports provenance into PostgreSQL (assumes ~/.pgpass is correctly configured)
# gocatalog   : imports provenance into Globus Online Catalog
database=sqlite
#database=postgresql
#database=gocatalog

# PostgreSQL connection command
#pg_cmd="psql -U provdb -h db.ci.uchicago.edu provdb"

# Globus Online Catalog identifier
#go_catalog_id=68
#go_catalog_client="~/catalog-client/globusonline/catalog/client/examples/catalog.py"

