<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.griphyn.org/chimera/GVDS-PoolConfig" 
xsi:schemaLocation="http://www.griphyn.org/chimera/GVDS  http://www.griphyn.org/chimera/gvds-poolcfg-1.5.xsd" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.5">

  <pool handle="localhost" gridlaunch="/local/gridstart" sysinfo="INTEL32::LINUX">
    <lrc url="local://localhost"/>
    <gridftp  url="local://localhost" storage="c:/cygwin/home/yongzh" major="1" minor="0" patch="0"> 
    </gridftp>
    <jobmanager universe="vanilla" url="local://localhost" major="1" minor="0" patch="0" />
    <workdirectory >/home/yongzh/vdldemo</workdirectory>
  </pool>

  <!--
  <pool handle="skynet" gridlaunch="/local/gridstart" sysinfo="INTEL32::LINUX">
    <lrc url="rls://dc-user.isi.edu"/>
    <gridftp  url="gsiftp://skynet-login.isi.edu" storage="/nfs/scratch01/yongzh" major="2" minor="2" patch="4"> 
    </gridftp>
    <jobmanager universe="vanilla" url="skynet-login.isi.edu/jobmanager-pbs" major="2" minor="2" patch="4" />
    <workdirectory >/nfs/scratch01/yongzh</workdirectory>
  </pool>
  -->

  <!-- 
  <pool handle="teraport" gridlaunch="/local/gridstart" sysinfo="INTEL32::LINUX">
    <lrc url="rls://evitable.ci.uchicago.edu"/>
    <gridftp  url="gsiftp://tp-grid1.uchicago.edu" storage="/gpfs1/scratch/yongzh" major="2" minor="2" patch="4"> 
    </gridftp>
    <jobmanager universe="vanilla" url="tp-grid1.uchicago.edu/jobmanager-pbs" major="2" minor="2" patch="4" />
    <workdirectory >/home/yongzh/vdldemo</workdirectory>
  </pool>
  -->
</config>
