chalant 	reorient 		/home/work/fmri/AIR/bin/reorient	INSTALLED	INTEL32::LINUX	null
chalant		alignlinear	/home/work/fmri/AIR/bin/alignlinear	INSTALLED	INTEL32::LINUX	null
chalant		alignwarp		/home/work/fmri/AIR/bin/align_warp	INSTALLED       INTEL32::LINUX	null
chalant		combinewarp	/home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null
chalant		betpremask		/home/work/fmri/betpremask.sh	INSTALLED       INTEL32::LINUX	null
chalant 	softmean 		/home/work/fmri/AIR/bin/softmean INSTALLED       INTEL32::LINUX	null
chalant   	gsmooth 		/home/work/fmri/AIR/bin/gsmooth INSTALLED       INTEL32::LINUX	null
chalant   	strictmean 	/home/work/fmri/AIR/bin/strictmean INSTALLED       INTEL32::LINUX	null
chalant 	reslicewarp 	/home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
chalant 	reslicewarp2 	/home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
chalant 	reslice 		/home/work/fmri/AIR/bin/reslice INSTALLED       INTEL32::LINUX	null
chalant 	combinewarp 	/home/work/fmri/AIR/bin/combine_warp INSTALLED       INTEL32::LINUX	null
chalant		binarize 		/home/work/fmri/AIR/bin/binarize INSTALLED       INTEL32::LINUX	null
chalant 	combinewarp2 	/home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null

terminable 		reorient 	/home/dscheftn/AIR/bin/reorient	INSTALLED       INTEL32::LINUX	null
terminable		alignlinear	/home/dscheftn/AIR/bin/alignlinear	INSTALLED       INTEL32::LINUX	null
terminable		align_warp	/home/dscheftn/AIR/bin/align_warp	INSTALLED       INTEL32::LINUX	null
terminable		combinewarp	/home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null
terminable		betpremask	/home/work/fmri/betpremask.sh	INSTALLED       INTEL32::LINUX	null
#terminable		betpremask	/home/work/fmrijed_mri/dgen_work/COMBINED/betpremask_sub	INSTALLED       INTEL32::LINUX	null
terminable 		softmean /home/work/fmri/AIR/bin/softmean INSTALLED       INTEL32::LINUX	null
terminable   		gsmooth /home/work/fmri/AIR/bin/gsmooth INSTALLED       INTEL32::LINUX	null
terminable	   	strictmean /home/work/fmri/AIR/bin/strictmean INSTALLED       INTEL32::LINUX	null
terminable 		reslicewarp /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
terminable 		reslicewarp2 /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
terminable 		reslice /home/work/fmri/AIR/bin/reslice INSTALLED       INTEL32::LINUX	null
terminable 		combinewarp /home/work/fmri/AIR/bin/combine_warp INSTALLED       INTEL32::LINUX	null
terminable		binarize /home/work/fmri/AIR/bin/binarize INSTALLED       INTEL32::LINUX	null
terminable	 	combinewarp2 /home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null

ept 		reorient 	/home/work/fmri/AIR/bin/reorient	INSTALLED       INTEL32::LINUX	null
ept		alignlinear	/home/work/fmri/AIR/bin/alignlinear	INSTALLED       INTEL32::LINUX	null
ept		alignwarp	/home/work/fmri/AIR/bin/align_warp	INSTALLED       INTEL32::LINUX	null
ept		combinewarp	/home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null
ept		betpremask	/home/work/fmri/fmridc/betpremask.sh	INSTALLED       INTEL32::LINUX	null
ept 		softmean /home/work/fmri/AIR/bin/softmean INSTALLED       INTEL32::LINUX	null
ept   		gsmooth /home/work/fmri/AIR/bin/gsmooth INSTALLED       INTEL32::LINUX	null
ept	   	strictmean /home/work/fmri/AIR/bin/strictmean INSTALLED       INTEL32::LINUX	null
ept 		reslicewarp /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
ept 		reslicewarp2 /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
ept 		reslice /home/work/fmri/AIR/bin/reslice INSTALLED       INTEL32::LINUX	null
ept 		combinewarp /home/work/fmri/AIR/bin/combine_warp INSTALLED       INTEL32::LINUX	null
ept		binarize /home/work/fmri/AIR/bin/binarize INSTALLED       INTEL32::LINUX	null
ept	 	combinewarp2 /home/work/fmri/AIR/bin/combine_warp	INSTALLED       INTEL32::LINUX	null

gainly          reorient   /home/work/fmri/AIR/bin/reorient      INSTALLED       INTEL32::LINUX	null
gainly          alignlinear        /home/work/fmri/AIR/bin/alignlinear   INSTALLED       INTEL32::LINUX	null
gainly          alignwarp /home/work/fmri/AIR/bin/align_warp    INSTALLED       INTEL32::LINUX	null
gainly          combinewarp        /home/work/fmri/AIR/bin/combine_warp  INSTALLED       INTEL32::LINUX	null
gainly          betpremask /home/work/fmri/betpremask.sh  INSTALLED       INTEL32::LINUX	null
gainly          softmean /home/work/fmri/AIR/bin/softmean INSTALLED       INTEL32::LINUX	null
gainly          gsmooth /home/work/fmri/AIR/bin/gsmooth INSTALLED       INTEL32::LINUX	null
gainly          strictmean /home/work/fmri/AIR/bin/strictmean INSTALLED       INTEL32::LINUX	null
gainly          reslicewarp /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
gainly          reslicewarp2 /home/work/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
gainly          reslice /home/work/fmri/AIR/bin/reslice INSTALLED       INTEL32::LINUX	null
gainly          combine_warp /home/work/fmri/AIR/bin/combine_warp INSTALLED       INTEL32::LINUX	null
gainly          binarize /home/work/fmri/AIR/bin/binarize INSTALLED       INTEL32::LINUX	null
gainly          combinewarp2 /home/work/fmri/AIR/bin/combine_warp       INSTALLED       INTEL32::LINUX	null

plussed          reorient   /homes/hategan/fmri/AIR/bin/reorient      INSTALLED       INTEL32::LINUX	null
plussed          alignlinear        /homes/hategan/fmri/AIR/bin/alignlinear   INSTALLED       INTEL32::LINUX	null
plussed          alignwarp /homes/hategan/fmri/AIR/bin/align_warp    INSTALLED       INTEL32::LINUX	null
plussed          combinewarp        /homes/hategan/fmri/AIR/bin/combine_warp  INSTALLED       INTEL32::LINUX	null
plussed          betpremask /homes/hategan/fmri/betpremask.sh  INSTALLED       INTEL32::LINUX	null
plussed          softmean /homes/hategan/fmri/AIR/bin/softmean INSTALLED       INTEL32::LINUX	null
plussed          gsmooth /homes/hategan/fmri/AIR/bin/gsmooth INSTALLED       INTEL32::LINUX	null
plussed          strictmean /homes/hategan/fmri/AIR/bin/strictmean INSTALLED       INTEL32::LINUX	null
plussed          reslicewarp /homes/hategan/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
plussed          reslicewarp2 /homes/hategan/fmri/AIR/bin/reslice_warp INSTALLED       INTEL32::LINUX	null
plussed          reslice /homes/hategan/fmri/AIR/bin/reslice INSTALLED       INTEL32::LINUX	null
plussed          combine_warp /homes/hategan/fmri/AIR/bin/combine_warp INSTALLED       INTEL32::LINUX	null
plussed          binarize /homes/hategan/fmri/AIR/bin/binarize INSTALLED       INTEL32::LINUX	null
plussed          combinewarp2 /homes/hategan/fmri/AIR/bin/combine_warp       INSTALLED       INTEL32::LINUX	null
