.columns .ui-table{border-collapse:collapse;width:100%;margin:1em 0;background-color:transparent;border:solid 1px #D5D5D5}
.columns .ui-table thead{background-color:#E5E5E5}
.columns .ui-table thead th{background-color:transparent;color:#222222;padding:10px;border-right:solid 1px #D5D5D5;cursor:pointer}
.columns .ui-table thead th.ui-table-sort-up,
.columns .ui-table thead th.ui-table-sort-down{background-color:#CCCCCC}
.columns .ui-table thead th:last-child{border-right:0px}
.columns .ui-table thead th .ui-arrow{float:right;font-size:10px}
.columns .ui-table tbody{background-color:transparent}
.columns .ui-table tbody tr.ui-table-rows-odd{background-color:#F2F2F2}
.columns .ui-table tbody tr.ui-table-rows-even{background:#FFFFFF}
.columns .ui-table tbody tr td{background:transparent;border-right:solid 1px #D5D5D5;color:#656565;padding:4px}
.columns .ui-table-controls span{font-size:12px;padding:5px;vertical-align:middle}
.columns .ui-table-controls span.ui-table-control-next,
.columns .ui-table-controls span.ui-table-control-prev{
	display: none;
}
.columns .ui-table-controls span.ui-table-control-disabled{
	display: none;
}
.columns .ui-table-footer {
	display: none;
}
.columns .ui-table-footer span{vertical-align:middle}
.columns .ui-table-footer .ui-table-size,
.columns .ui-table-footer .ui-table-results,
.columns .ui-table-footer .ui-table-controls{display:inline-block;width:32%}
.columns .ui-table-footer .ui-table-size{padding-left:20px}
.columns .ui-table-footer .ui-table-results{text-align:center}
.columns .ui-table-footer .ui-table-controls{text-align:right}
.columns .ui-table-footer .ui-table-control-next,
.columns .ui-table-footer .ui-table-control-prev,
.columns .ui-table-footer .ui-table-control-disabled{display:inline-block;background-color:transparent;padding:5px;vertical-align:middle;cursor:pointer;text-align:center}
.columns .ui-table-footer .ui-table-control-disabled img{opacity:0.5}
.ui-columns-search-row-table {
	width: 100%;
}
.ui-columns-pager {
	height: 24px;
}
.ui-columns-search-row-left, .ui-columns-search-row-right {
	width: 210px;
}

.ui-columns-search-row-center {
	text-align: center;
}
.columns .ui-columns-search {text-align:right}
.columns .ui-columns-search input {
	width:200px;
	border-radius:4px;
	padding:4px 10px 4px 25px;
	border:1px solid #888;
	background-image:url(../images/search.png);
	background-position:5px center;
	background-repeat:no-repeat
}
.columns .ui-columns-search input:focus{border:2px solid #6196CD;outline:none}
